@import url("https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-darkest: #343a40;
  --color-dark: #495057;
  --color-medium: #ced4da;
  --color-light: #f1f3f5;

  --color-theme: #1098ad;
  --color-accent: #f2a634;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 50%;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

body {
  min-height: 100vh;
  color: var(--color-light);
  background-color: var(--color-darkest);
  padding: 3rem;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 50rem;
}

.app-header {
  width: 74rem;
  display: flex;
  margin-bottom: 5rem;
  align-items: center;
  justify-content: space-between;
}

.react-logo {
  width: 14rem;
}

h1 {
  font-family: Codystar;
  font-size: 6.2rem;
}

.start {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 4.6rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 2.4rem;
  margin-bottom: 5rem;
}

.btn {
  display: block;
  font-family: inherit;
  color: inherit;
  font-size: 3rem;
  background-color: var(--color-dark);
  border: 2px solid var(--color-dark);
  padding: 1.8rem 2.6rem;
  cursor: pointer;
  border-radius: 200px;
  transition: 0.3s;
}

.btn:not([disabled]):hover {
  background-color: var(--color-darkest);
}

.btn[disbled]:hover {
  cursor: not-allowed;
}
